#content.content.section.row
	- cache( "show-#{@movement.cache_key}" ) do
		.col-md-8.bg-base.col-lg-8.col-xl-9
			.ribbon.ribbon-highlight
				%ol.breadcrumb.ribbon-inner
					%li
						%a{ href: swell_media.root_path() }
							Home
					%li
						%a{ href: '/movements' }
							Equipment
					%li.active
						= @movement.title
			%header.page-header
				%h2.page-title
					= @movement.title
				
			%article.entry.style-single.type-post
				- if @movement.avatar.present?
					.row
						.col-sm-6.col-sm-offset-3
							%img.img.img-responsive{:alt => @movement.title, src: @movement.avatar }
				.entry-meta
					- if @movement.aliases.present?
						%span.category
							= "(#{@movement.aliases.join( ', '  )})"

				.entry-content
					= raw @movement.content
					
		
	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'application/sidebar'
	/ /.sidebar col-md-4 col-lg-4 col-xl-3
/ /#content










