%h1
	Editing Observation 
	- if @observation.observed.present?
		of
		= @observation.observed.title
.main-box.clearfix
	.main-box-header.clearfix
		
	.main-box-body.clearfix
		= form_for @observation do |f|
			.row
				.col-sm-8
					.form-group
						= f.label :value
						.input-group
							= f.text_field :value, value: @observation.display_value( show_units: false ), class: 'form-control'
							%span.input-group-addon
								= @observation.unit.try( :abbrev )
					.row
						.col-xs-6
							.form-group
								= f.label :unit
								= f.select :unit, options_for_select( [ ['Arbitrary', ''], ['Time', 's'], ['Weight', 'g'], ['Length/Distance', 'm'], ['Volume', 'l'], ['Percent', '%'] ], @observation.unit ), {}, class: 'form-control'
						.col-xs-6
							.form-group
								= f.label :unit
								= f.text_field :unit, class: 'form-control'
					.row
						.col-xs-12
							.form-group
								= f.label :notes
								= f.text_area :notes, class: 'form-control'
				.col-sm-4
					.well
						.form-group
							= f.label :started_at
							.input-group.date
								= f.text_field :started_at, class: 'form-control'
								%span.input-group-addon
									%i.fa.fa-calendar
						.form-group
							= f.label :ended_at
							.input-group.date
								= f.text_field :ended_at, class: 'form-control'
								%span.input-group-addon
									%i.fa.fa-calendar
							
						.form-group
							= f.label :recorded_at
							.input-group.date
								= f.text_field :recorded_at, class: 'form-control'
								%span.input-group-addon
									%i.fa.fa-calendar

						.form-group
							= f.submit 'Update', class: 'btn btn-primary'

	
