
.main-box.clearfix
	.main-box-header.clearfix
		.row
			.col-xs-10
				%h1
					Editing Observation 
					- if @observation.observed.present?
						of
						= @observation.observed.title
			.col-xs-2
				%a.btn.btn-danger{ href: observation_path( @observation ), data: { method: 'delete', confirm: 'Are you sure?' } }
					Delete
		
	.main-box-body.clearfix
		= form_for @observation do |f|
			.row
				.col-sm-8
					.form-group
						= f.label :value

						= f.text_field :value, value: @observation.display_value, class: 'form-control'


						stored value:
						= @observation.value
						
					.row
						.col-xs-12
							.form-group
								= f.label :notes
								= f.text_area :notes, class: 'form-control'
					.row
						.col-xs-12
							.form-group
								= f.label :content, 'Command'
								= f.text_field :content, class: 'form-control'
				.col-sm-4
					.well

						.form-group
							= f.label :started_at
							.input-group.date
								= f.text_field :started_at, class: 'form-control'
								%span.input-group-addon
									%i.fa.fa-calendar
						.form-group
							= f.label :ended_at
							.input-group.date
								= f.text_field :ended_at, class: 'form-control'
								%span.input-group-addon
									%i.fa.fa-calendar
							
						.form-group
							= f.label :recorded_at
							.input-group.date
								= f.text_field :recorded_at, class: 'form-control'
								%span.input-group-addon
									%i.fa.fa-calendar

						.form-group
							= f.submit 'Update', class: 'btn btn-primary'

	
