#new_target.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Set a Target
			= form_for Target.new do |f|
				.modal-body
					.row
						.col-xs-6
							%h4
								I Want the
						.col-xs-6
							%h4
								Of My
					.row
						.col-sm-6
							= f.label :target_type
							= f.collection_select :target_type, Target.target_types, :first, :second, {}, class: 'form-control'
						.col-sm-6
							- if args[:parent_obj].present?
								= f.hidden_field :parent_obj_id, value: args[:parent_obj].id
								= f.hidden_field :parent_obj_type, value: args[:parent_obj].type
							- else
								= f.hidden_field :parent_obj_type, value: 'Metric'
								= f.label :parent_obj_id, "Metric"
								= f.collection_select :parent_obj_id, current_user.metrics.order( title: :asc ), :id, :title, {}, class: 'form-control'
						
					.row
						.col-xs-12
							%h4
								To Be:
						.col-sm-4
							= f.label :direction
							= f.collection_select :direction, Target.directions, :first, :second, {}, class: 'form-control'
						.col-sm-4
							= f.label :value
							= f.text_field :value, class: 'form-control'
						.col-sm-4
							= f.label :period
							= f.collection_select :period, Target.periods, :first, :second, {}, class: 'form-control'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'