- raise ActionController::RoutingError.new( 'Not Found' )
%section.mainContent.clearfix.setp5
	.container
		.row
			.col-xs-12
				.thanksContent
					%h1.text-center.content-title
						Thank You For Your Order!
					%p.text-center
						We will send an email to 
						%strong= @order.email
						confirming your order details. Please be sure to check your promotion and spam folders. Your order number is:
						%strong= "#{@order.code}."
						Please include it in any corrrespandence concerning your order.

					%h3{ style: 'margin-top:1em;' }
						Order Details

					.thanksInner
						.row
							.col-sm-6.col-xs-12.tableBlcok
								%table.table
									%thead
										%tr
											%th.col-xs-8 &nbsp;
											%th.col-xs-2.text-right{ style: 'width: 100px' } Quantity
											%th.col-xs-2.text-right Price
											
									%tbody
										- @order.order_items.prod.each do |order_item|
											%tr
												%td.col-xs-8
													- if order_item.item.is_a?( SwellEcom::ProductVariant )
														%strong
															= order_item.item.product.title
														%br
														= order_item.item.option_title

													- else
														%strong
															= order_item.item.title
												%td.col-xs-2.text-right
													= order_item.quantity
												%td.col-xs-2.text-right
													= number_to_currency order_item.item.price.to_f / 100
										%tr
											%td.col-xs-2
											%td.col-xs-8.text-left
												Subtotal:
											%td.col-xs-2.text-right
												= number_to_currency( @order.subtotal.to_f / 100 )
										%tr
											%td.col-xs-2
											%td.col-xs-8
												Shipping:
											%td.col-xs-2.text-right
												= number_to_currency( @order.shipping.to_f / 100 )
										%tr
											%td.col-xs-2
											%td.col-xs-8
												Tax:	
											%td.col-xs-2.text-right
												= number_to_currency( @order.tax.to_f / 100 )
										%tr
											%td.col-xs-2
											%td.col-xs-8
												%strong
													Total:
											%td.col-xs-2.text-right
												%strong
													= number_to_currency( @order.total.to_f / 100 )

							.col-sm-6.col-xs-12
								.well
									%h2
										%small
											Order ID:
										= @order.code
						.row
							.col-sm-6.col-xs-12
								%address
									%strong
										Ship To:
									%br
									= raw @order.shipping_address.to_html
							.col-sm-6.col-xs-12
								- if @order.customer_notes.present?
									%strong
										Notes
									%br
									= raw @order.customer_notes

					%p{ style: 'margin-top:1em;' }
						We'd love to see your new gear! Please share pics and tag #amraplife.
						
						%a{ href: 'http://facebook.com/amraplife', target: '_new', style: 'color:#555;font-size:18px;margin-left:0.5em;' }
							%i.fa.fa-facebook-square

						%a{ href: 'https://www.instagram.com/amrap_life/', target: '_new', style: 'color:#555;font-size:18px;margin-left:0.5em;' }
							%i.fa.fa-instagram
		
						%a{ href: 'http://pinterest.com/amraplife', target: '_new', style: 'color:#555;font-size:18px;margin-left:0.5em;' }
							%i.fa.fa-pinterest
		
						%a{ href: 'http://twitter.com/amraplife', target: '_new', style: 'color:#555;font-size:18px;margin-left:0.5em;' }
							%i.fa.fa-twitter

