%section.mainContent.clearfix
	.container
		.row
			.col-xs-12
				%h2.text-center.home-about-quote
					We began with a simple idea: 
					%br
					Intensity doesn't need to be Intimidating.
					-#We started with a simple idea: Create high-quality inspiring fitness products that aren't about masochism or frat-humor.
				.text-center
					%a.btn.btn-primary{ href: '/about' }
						Read More
						%i.fa.fa-arrow-right


		.row.featuredCollection.margin-bottom
			.col-xs-12
				.page-header
					%h2.text-center{ style: 'margin-top:2em;' }
						Best Sellers

				- @products.each do |product|
					.col-sm-4.col-xs-12
						.thumbnail
							.imageWrapper
								= image_tag product.avatar
								.masking
									%a.btn.viewBtn{ href: product.url }
										- if product.price % 100 == 0
											= number_to_currency( product.price / 100.to_f, precision: 0 )
										- else
											= number_to_currency( product.price / 100.to_f )
										Buy
										%i.fa.fa-chevron-right
							.caption
								%a{ href: product.url }
									%h4.text-center
										= product.title


		.row.featuredProducts.margin-bottom
			.col-xs-12
				.page-header
					%h2.text-center
						Featured Recipes
			.col-xs-12
				.owl-carousel.featuredProductsSlider

					- @recipes.each do |recipe|
						.slide
							.productImage.clearfix
								%a{ href: recipe.url }
									= image_tag recipe.avatar
							.productCaption.clearfix
								%a{ href: recipe.url }
									%h4.text-center{ style: 'font-size:16px;line-height:1.25' }
										= recipe.title
								%p
									= raw recipe.description.truncate( 140 )
								%a.btn.btn-primary{ href: recipe.url }
									Read More
									%i.fa.fa-arrow-right

		.row.featuredProducts.margin-bottom
			.col-xs-12
				.page-header
					%h2.text-center
						Featured Articles
			.col-xs-12
				.owl-carousel.featuredProductsSlider

					- @articles.each do |article|
						.slide
							.productImage.clearfix
								%a{ href: article.url }
									= image_tag article.avatar
							.productCaption.clearfix
								%a{ href: article.url }
									%h4.text-center{ style: 'font-size:16px;line-height:1.25' }
										= article.title
								%p
									= raw article.description.truncate( 140 )
								%a.btn.btn-primary{ href: article.url }
									Read More
									%i.fa.fa-arrow-right

