%section.mainContent.clearfix
	.container
		.row
			.col-xs-12
				%h3.text-center
					Our Passion is Living as Well as Possible. We want to inspire you to blah blaha lsd asldjaslkdjasldj s
				.text-center
					%a.btn.btn-primary{ href: '/about' }
						Read More
						%i.fa.fa-arrow-right
				

		.row.featuredCollection.margin-bottom
			.col-xs-12
				.page-header
					%h2.text-center{ style: 'margin-top:2em;' }
						Best Sellers

				.col-sm-4.col-xs-12
					.thumbnail
						.imageWrapper
							= image_tag 'http://cdn1.amraplife.com/assets/1303f4c8-0b22-43ad-9b53-462f0caaee9c.jpg'
							.masking

								%a.btn.viewBtn{ href: '' }
									$24
									Buy
									%i.fa.fa-chevron-right
						.caption
							%h4
								GTO AMRAP Men's T
				
				.col-sm-4.col-xs-12
					.thumbnail
						.imageWrapper
							= image_tag 'http://cdn1.amraplife.com/assets/ff5aef0f-112c-41ed-85c8-ff164cbd0c1a.jpg'
							.masking

								%a.btn.viewBtn{ href: '' }
									$24
									Buy
									%i.fa.fa-chevron-right
						.caption
							%h4
								Woke Sore Ladies Tank

				.col-sm-4.col-xs-12
					.thumbnail
						.imageWrapper
							= image_tag 'http://cdn1.amraplife.com/assets/9e246e48-8131-498e-a09c-9963f76a312c.jpg'
							.masking

								%a.btn.viewBtn{ href: '' }
									$24
									Buy
									%i.fa.fa-chevron-right
						.caption
							%h4
								Grip It & Kip It Men's T

		.row.featuredProducts.margin-bottom
			.col-xs-12
				.page-header
					%h2.text-center
						Featured Articles
			.col-xs-12
				.owl-carousel.featuredProductsSlider

					- @articles.each do |article|
						.slide
							.productImage.clearfix
								%a{ href: article.url }
									= image_tag article.avatar
							.productCaption.clearfix
								%a{ href: article.url }
									%h5
										= article.title
								%p
									= raw article.description
								%a.btn.btn-primary{ href: article.url }
									Read More
									%i.fa.fa-arrow-right

%section.lightSection.clearfix.margin-bottom
	.container
		.row
			.col-sm-5.col-xs-12
				%h2.text-center
					Food for Body
				%p.text-center
					Get our Free recipe book
			.col-sm-7.col-xs-12
				= image_tag 'http://cdn1.amraplife.com/assets/eae44936-9351-46c7-b4ad-6a2baf7c819d.png', style: 'height: 100px;'

		.row
			.col-sm-7.col-xs-12{ style: '' }
				= image_tag 'http://cdn1.amraplife.com/assets/d0eda68a-f055-4dec-bb65-42c491b77de3.jpg', style: 'height: 100px;'
			.col-sm-5.col-xs-12
				%h2.text-center
					Food For Thought
				%p.text-center
					Get 24 Free inspirational Wallpapers









