%section.mainContent.clearfix
	.container
		.row
			.col-xs-12
				%h3.text-center
					Our Passion is Living as Well as Possible. We want to inspire you to blah blaha lsd asldjaslkdjasldj s
				.text-center
					%a.btn.btn-primary{ href: '/about' }
						Read More
						%i.fa.fa-arrow-right


		.row.featuredCollection.margin-bottom
			.col-xs-12
				.page-header
					%h2.text-center{ style: 'margin-top:2em;' }
						Best Sellers

				- @products.each do |product|
					.col-sm-4.col-xs-12
						.thumbnail
							.imageWrapper
								= image_tag product.avatar
								.masking
									%a.btn.viewBtn{ href: product.url }
										- if product.price % 100 == 0
											= number_to_currency( product.price / 100.to_f, precision: 0 )
										- else
											= number_to_currency( product.price / 100.to_f )
										Buy
										%i.fa.fa-chevron-right
							.caption
								%a{ href: product.url }
									%h4
										= product.title


		.row.featuredProducts.margin-bottom
			.col-xs-12
				.page-header
					%h2.text-center
						Featured Articles
			.col-xs-12
				.owl-carousel.featuredProductsSlider

					- @articles.each do |article|
						.slide
							.productImage.clearfix
								%a{ href: article.url }
									= image_tag article.avatar
							.productCaption.clearfix
								%a{ href: article.url }
									%h5
										= article.title
								%p
									= raw article.description
								%a.btn.btn-primary{ href: article.url }
									Read More
									%i.fa.fa-arrow-right

%section.lightSection.clearfix.margin-bottom
	.container
		.row
			.col-sm-5.col-xs-12
				%h2.text-center
					Food for Body
				%p.text-center
					Get our Free recipe book
			.col-sm-7.col-xs-12
				= image_tag 'http://cdn1.amraplife.com/assets/eae44936-9351-46c7-b4ad-6a2baf7c819d.png', style: 'height: 100px;'

		.row
			.col-sm-7.col-xs-12{ style: '' }
				= image_tag 'http://cdn1.amraplife.com/assets/d0eda68a-f055-4dec-bb65-42c491b77de3.jpg', style: 'height: 100px;'
			.col-sm-5.col-xs-12
				%h2.text-center
					Food For Thought
				%p.text-center
					Get 24 Free inspirational Wallpapers
