
- if @articles.count < 25
	.section.row.entries.bg-primary.section-no-margin-bottom
		.col-lg-12.col-xl-12
			.row
				%article.entry.style-grid.style-hero.hero-md-largest.type-post.col-md-12.col-lg-12.colheight-sm-3.colheight-md-3.colheight-lg-3.colheight-xl-3{ style: 'height: auto;min-height:480px;'}
					.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
						%a{ href: '#' }
							Standby...
					%header.entry-header
						%h1.entry-title{ style: 'margin-left:90px;'}
							Coming Soon... 
						%h4{ style: 'margin-left:90px;'}
							Life is a Team Sport.... Live AMRAP

					%p.indented.entry-header
						We're lacing up our sneakers. In the meantime, sign up to be one of the first in line for great tips, inspiration and discounts on cool gear when we launch.

					= form_for Optin.new, url: main_app.optins_path do |f|
						.row{ style: 'margin-top:2em;'}
							.col-sm-6.col-sm-offset-2
								.form-group
									= f.label :name, style: 'color:#fff;'
									= f.text_field :name, class: 'form-control'
								.form-group
									= f.label :email, style: 'color:#fff;'
									= f.text_field :email, class: 'form-control'
								.form-group
									= f.submit 'Sign Up', class: 'btn btn-primary'


					%figure.entry-thumbnail
						%a.overlay.overlay-primary{ href: '#' }
							%img{ src: 'https://s3.amazonaws.com/gkparishphilp/images/amrap-bg-1.png', style: 'opacity:0.66' }

- else
	.section.row.entries.bg-primary.section-no-margin-bottom
		.col-lg-6.col-xl-5
			.row
				%article.entry.style-grid.style-hero.hero-md-largest.type-post.col-md-8.col-lg-12.colheight-sm-1.colheight-md-2.colheight-lg-2.colheight-xl-2
					.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
						%a{ href: '#' }
							Ready Ready!
					%header.entry-header
						%h3.entry-title
							Welcome to AMRAPLife.com
						%p
							Life is a Team Sport.... Live AMRAP
					%figure.entry-thumbnail
						%a.overlay.overlay-primary{ href: '#' }
							%img{ src: 'https://s3.amazonaws.com/gkparishphilp/images/amrap-bg-1.png', style: 'opacity:0.66' }

				- if @articles.present? && @articles[0..1].present?
					- @articles[0..1].each do |article|
						= render 'swell_media/articles/card', article: article, args: { desc_style: 'color: #ddd;font-size:90%;line-height:1.33em;' }
		.col-lg-6.col-xl-7
			.row
				- if @articles.present? && @articles[2..4].present?
					- @articles[2..4].each do |article|
						= render 'swell_media/articles/card', article: article, args: { desc_style: 'color: #ddd;font-size:90%;line-height:1.33em;' }

	#content.content.section.row
		-#.col-md-9.col-lg-9 -- todo 9 with ads
		.col-md-12.col-lg-12
			.row
				.col-md-4.col-lg-4.md-pull-right
					%aside.widget
						%h2.widget-title.ribbon.ribbon-focus
							%a{ href: main_app.workouts_path }
								%span Workouts
						.entries.row
							- @workouts.each do |workout|
								%article.type-post.style-media-list.media.col-sm-6.col-md-12
									%a{ href: main_app.workout_path( workout ) }
										%img.media-object.pull-left{ src: workout.avatar, width: 80, height: 80 }
									.media-body{ style: 'padding-left: 1em;' }
										.entry-title
											%a{ href: main_app.workout_path( workout ) }
												= workout.title
										-# if workout.duration.present?
											.entry-meta
												= workout.duration

				.bg-base.col-md-8.col-lg-8
					%h2.section-title.ribbon.ribbon-highlight
						%span
							Trending
					.entries
						- if @trending.present?
							= render 'swell_media/articles/post', article: @trending, args: {}
		-#.sidebar.col-md-3.col-lg-3 todo with ads
			%aside.widget
				%h2.widget-title.ribbon
					%a{ href: '#' }
						Thanks...






						






						





