.cl-sidebar
	.cl-toggle
		%i.fa.fa-bars
	.cl-navblock
		.menu-space
			.content
				.sidebar-logo
					.logo
						%a{ href: '/admin', style: 'font-size: 90%;' }
							= SwellMedia.app_name
							Admin
				.side-user{ style: 'padding: 0 20px;' }

				%ul.cl-vnavigation

					%li.parent
						%a{ href: '#' }
							Site
						
						%ul.sub-menu
							%li.parent_open
								%a{ href: '#' }
									Articles
								%ul.sub-menu
									%li
										%a{ href: swell_media.article_admin_index_path }
											%i.fa.fa-gear
											Admin
									%li
										%a{ data: { toggle: :modal, target: '#new_article' } }
											%i.fa.fa-plus
											New
									%hr{ style: 'width:66%;border-color:#999;' }
									- SwellMedia::Article.order( publish_at: :desc ).limit( 10 ).each do |article|
										%li
											%a{ href: swell_media.edit_article_admin_path( article ) }
												= image_tag article.avatar, width: 24, height: 24, class: 'img img-rounded'
												
												%span{ style: 'font-size: 120%;margin: 0 1em;'}
													= article.title

												- if article.published?
													.badge{ class: article.status }
														Live
												- elsif article.draft?
													.badge{ class: article.status }
														Draft
												- elsif article.active?
													.badge{ class: 'pending' }
														Pending
												- else
													.badge{ class: article.status }
														= article.status

							%li.parent_open
								%a{ href: '#' }
									Assets
								%ul.sub-menu
									%li
										%a{ href: swell_media.asset_admin_index_path }
											%i.fa.fa-gear
											Admin
									%li
										%a{ data: { toggle: :modal, target: '#new_asset' } }
											%i.fa.fa-plus
											New
							%li.parent_open
								%a{ href: '#' }
									Categories
								%ul.sub-menu
									%li
										%a{ href: swell_media.category_admin_index_path }
											%i.fa.fa-gear
											Admin
									%li
										%a{ data: { toggle: :modal, target: '#new_category' } }
											%i.fa.fa-plus
											New

							%li.parent_open
								%a{ href: '#' }
									Contacts
								%ul.sub-menu
									%li
										%a{ href: swell_media.contact_admin_index_path }
											%i.fa.fa-gear
											Admin
									%hr{ style: 'width:66%;border-color:#999;' }
									- SwellMedia::ContactUs.order( created_at: :desc ).limit( 10 ).each do |contact|
										%li
											%a{ href: swell_media.edit_contact_admin_path( contact ) }									
												%span{ style: 'font-size: 120%;margin: 0 1em;'}
													= contact.email

												.badge{ class: contact.status }
													= contact.status

							%li.parent_open
								%a{ href: '#' }
									Pages
								%ul.sub-menu
									%li
										%a{ href: swell_media.page_admin_index_path }
											%i.fa.fa-gear
											Admin
									%li
										%a{ data: { toggle: :modal, target: '#new_page' } }
											%i.fa.fa-plus
											New

					%li.parent
						%a{ href: '#' }
							App Content
						%ul.sub-menu
							%li
								%a{ href: main_app.equipment_admin_index_path }
									%i.fa.fa-gear
									Equipment
							%li
								%a{ href: main_app.movement_admin_index_path }
									%i.fa.fa-gear
									Movements
							%li
								%a{ href: main_app.workout_admin_index_path }
									%i.fa.fa-gear
									Workouts

					%li
						%a{ href: main_app.product_admin_index_path }
							Products




							
= render 'swell_media/article_admin/new_modal'
= render 'swell_media/asset_admin/new_modal'
= render 'swell_media/category_admin/new_modal'
= render 'swell_media/page_admin/new_modal'
= render 'equipment_admin/new_modal'
= render 'movement_admin/new_modal'
=# render 'swell_ecom/product_admin/new_modal'
= render 'place_admin/new_modal'
= render 'product_admin/new_modal'
= render 'recipe_admin/new_modal'
= render 'workout_admin/new_modal'

