
#content.content.section.row
	.col-md-8.bg-base.col-lg-8.col-xl-9
		.ribbon.ribbon-highlight
			%ol.breadcrumb.ribbon-inner
				%li
					%a{ href: swell_media.root_path() }
						Home
				%li.active
					%a{ href: '/recipes' }
						Recipes

		%h2
			= pluralize @count, 'Recipe'

		= paginate @recipes

		- @recipes.each do |recipe|
			= render 'row', recipe: recipe

		= paginate @recipes
		
	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'application/sidebar'
	/ /.sidebar col-md-4 col-lg-4 col-xl-3
/ /#content

