

- cache( "recipes/index" ) do

	%section.clearfix.blogPage{ style: 'padding-top: 50px;' }
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12
					.jumbotron{ style: 'background-color: #e9fbfe;' }
						.container
							.row
								.col-xs-12.text-center
									%h1
										Get Our Free Repice Book
									%p
										Nutrition hacks galore
									.input-group
										= text_field_tag :email, '', placeholder: 'Email', class: 'form-control'
										= submit_tag "Get It", class: "btn btn-lg btn-info btn-filled"
											

					.row.productListSingle
						- @recipes.each do |recipe|
							= render 'row', recipe: recipe

					.paginator{ style: 'margin-bottom: 2em;' }
						= raw paginate @recipes
					
				.sideBar.col-md-3.col-sm-4.col-xs-12
					= render 'recipes/sidebar'


