.main-box.clearfix
	.main-box-header.clearfix
		%h1
			Editing
			= @metric.title
	.main-box-body.clearfix
		= form_for @metric do |f|
			.row
				.col-sm-8
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control'

					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control'

					%h3
						Observations of this metric
					%table.table
						%thead
							%th
							%th
							%th
						%tbody
							- @metric.observations.order( recorded_at: :desc ).limit( 50 ).each do |obs|
								%tr
									%td
										= obs.human_value
									%td
										= obs.notes
									%td
										= obs.recorded_at.to_s( :slashed )
									


				.col-sm-4
					.well
						.form-group
							= f.label :unit
							= f.text_field :unit, class: 'form-control'

						.form-group
							= f.label :aliases_csv, 'Aliases'
							= f.text_field :aliases_csv, class: 'form-control'
						
						.form-group
							= f.label :target_type
							= f.select :target_type, options_for_select( [ ['Daily Sum Max', 'daily_sum_max'], ['Daily Sum Min', 'daily_sum_min'], ['All-Time Min', 'min_value'], [ 'All-Time Max', 'max_value'] ], @metric.target_type ), {}, class: 'form-control'
							=# f.label :target_type
							=# f.select :target_type, options_for_select( [ ['Average', 'avg_value'], ['Count', 'count'], ['Sum', 'sum_value'], [ 'Max', 'max_value'], ['Min', 'min_value'], ['Range', 'range'] ], @metric.target_type ), {}, class: 'form-control'
						.form-group
							= f.label :target
							= f.text_field :target, value: @metric.formatted_target, class: 'form-control'
						
						.form-group
							= f.label :reassign_to_metric_id, 'Reassign to Metric:'
							= f.collection_select :reassign_to_metric_id, current_user.metrics.where.not( id: @metric.id ), :id, :title, { prompt: '--None--' }, { class: 'form-control' }



						.form-group
							= f.submit :update, class: 'btn btn-primary'
	





