.main-box.clearfix
	.main-box-header.clearfix
		.row
			.col-xs-10
				%h1
					Editing
					= @metric.title
			.col-xs-2
				%a.btn.btn-danger{ href: metric_path( @metric ), data: { method: 'delete', confirm: 'Are you sure? ALL related observations will also be deleted.' } }
					Delete

	.main-box-body.clearfix
		= form_for @metric do |f|
			.row
				.col-sm-8
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control'

					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control'

					%h3
						Summary
					- if @metric.observations.present?
						%table.table
							%tbody
								%tr
									%td
										%b Count
									%td
										= pluralize @metric.observations.nonsubs.count, 'Observation'
								%tr
									%td
										%b First
									%td

										= @metric.observations.nonsubs.order( recorded_at: :asc ).first.try( :display_value )
										%br
										- if @metric.observations.nonsubs.order( recorded_at: :asc ).first.present?
											= @metric.observations.nonsubs.order( recorded_at: :asc ).first.recorded_at.to_s( :short )
								%tr
									%td
										%b Last
									%td

										= @metric.observations.nonsubs.order( recorded_at: :desc ).first.try( :display_value )
										%br
										- if @metric.observations.nonsubs.order( recorded_at: :desc ).first.present?
											= @metric.observations.nonsubs.order( recorded_at: :desc ).first.recorded_at.to_s( :short )
								%tr
									%td
										%b Max
									%td
										= @metric.unit.convert_from_base( @metric.observations.nonsubs.where( unit_id: @metric.unit_id ).maximum( :value ) )
								%tr
									%td
										%b Min
									%td
										= @metric.unit.convert_from_base( @metric.observations.nonsubs.where( unit_id: @metric.unit_id ).minimum( :value ) )
								
								%tr
									%td
										%b Total
									%td
										= @metric.unit.convert_from_base( @metric.observations.nonsubs.where( unit_id: @metric.unit_id ).sum( :value ) )
								%tr
									%td
										%b Avg
									%td
										= @metric.unit.convert_from_base( @metric.observations.nonsubs.where( unit_id: @metric.unit_id ).average( :value ) )
					
						%h3
							Recent Observations of this metric
						%table.table
							%thead
								%th
								%th
								%th
							%tbody
								- @metric.observations.nonsubs.order( recorded_at: :desc ).limit( 50 ).each do |obs|
									%tr
										%td
											= link_to obs.display_value( show_units: true ), edit_observation_path( obs )
										%td
											= obs.recorded_at.to_s( :long )
										%td
											= obs.notes
					- else
						No observations yet



					
									
									


				.col-sm-4
					.well
						.form-group#display_unit
							= f.label :unit_alias, 'Default Unit:'
							= f.text_field :unit_alias, value: @metric.unit, class: 'form-control'

						.form-group
							= f.label :aliases_csv, 'Aliases'
							= f.text_field :aliases_csv, class: 'form-control'

						.form-group
							= f.label :reassign_to_metric_id, 'Reassign to Metric:'
							= f.collection_select :reassign_to_metric_id, current_user.metrics.where.not( id: @metric.id ), :id, :title, { prompt: '--None--' }, { class: 'form-control' }
						

						-#.well
							%h4 
								= @metric.title 
								Targets
							= link_to 'admin', targets_path
							- if @metric.targets.present?
								- @metric.targets.each do |target|
									%li= link_to target.to_s, edit_target_path( target )
							
						
						



						.form-group
							= f.submit :update, class: 'btn btn-primary'
	





