.main-box.clearfix
	.main-box-header.clearfix
		%h1
			Editing
			= @metric.title
	.main-box-body.clearfix
		= form_for @metric do |f|
			.row
				.col-sm-8
					.form-group
						= f.label :title
						= f.text_field :title, class: 'form-control'

					.form-group
						= f.label :description
						= f.text_area :description, class: 'form-control'

					%h3
						Observations of this metric
					%table.table
						%thead
							%th
							%th
							%th
						%tbody
							- @metric.observations.order( recorded_at: :desc ).limit( 50 ).each do |obs|
								%tr
									%td
										= obs.display_value
									%td
										= obs.notes
									%td
										= obs.recorded_at.to_s( :slashed )
									


				.col-sm-4
					.well
						.form-group
							= f.label :unit
							= f.select :unit, options_for_select( [ ['Arbitrary', ''], ['Time', 's'], ['Weight', 'g'], ['Length/Distance', 'm'], ['Volume', 'l'], ['Percent', '%'] ], @metric.unit ), {}, class: 'form-control'

						.form-group#display_unit
							= f.label :unit
							= f.text_field :unit, class: 'form-control'

						.form-group
							= f.label :aliases_csv, 'Aliases'
							= f.text_field :aliases_csv, class: 'form-control'

						.form-group
							= f.label :reassign_to_metric_id, 'Reassign to Metric:'
							= f.collection_select :reassign_to_metric_id, current_user.metrics.where.not( id: @metric.id ), :id, :title, { prompt: '--None--' }, { class: 'form-control' }
						
						.well
							%h4 
								= @metric.title 
								Targets
							.form-group
								test
								=# f.select :target_type, options_for_select( [ ['Accumulated Value', 'sum_value'], [ 'Value', 'value'], ['Number of Observations', 'count'], ['Average Value', 'avg_value'] ], @metric.target_type ), {}, class: 'form-control'
							
							.form-group
								= f.label :target_period
								=# f.select :target_period, options_for_select( [ ['Per Day', 'daily'], ['Per Week', 'weekly'], ['Per Month', 'monthly'], ['All-Time', 'value'] ], @metric.target_period ), {}, class: 'form-control'

							.form-group
								= f.label :target_direction, 'Should be:'
								=# f.select :target_direction, options_for_select( [ ['At Least', 'at_least'], ['At Most', 'at_most'], ['Exactly', 'exactly'] ], @metric.target_direction ), {}, class: 'form-control'
								
								
							.form-group
								= f.label :target, 'Value:'
								.input-group
									=# f.text_field :target, value: UnitService.new( val: @metric.target, disp_unit: @metric.display_unit, base_unit: @metric.unit, use_metric: current_user.use_metric ).convert_to_display, class: 'form-control'
									%span.input-group-addon
										=# @metric.display_unit.pluralize( UnitService.new( val: @metric.target, disp_unit: @metric.display_unit, base_unit: @metric.unit, use_metric: current_user.use_metric ).convert_to_display )
									.input-group

							
						
						



						.form-group
							= f.submit :update, class: 'btn btn-primary'
	





