%section.clearfix.aboutUsInfo.mainContent
	.container
		.row
			.col-xs-12
				.page-header
					%h1.content-title
						Our Ultimate Guide to CrossFit Terms



		%article.entry.style-single.type-post
			.content

				.addthis_inline_share_toolbox.hidden-xs.hidden-sm

				- if params[:q].blank?
					%p{ style: 'margin-top:2em;' }
						CrossFit is an entire subculture onto itself. Walking into a CrossFit gym can be intimidating enough without having to know a TABATA from an EMOM. CrossFit is filled with all kinds of crazy jargon that can be confusing and disorienting to newcomers. More importantly, if you don't have a grasp on some of the cues your coach is providing, you can get yourself injured. Luckily, we've got you covered. Here is the most comprehensive guide to CrossFit-speak ever compiled. We've got over 300 terms (and growing!) defined for you. If you feel we've missed something, or there's a term you still don't understand, please 
						%a{ href: '#comments' }
							leave a comment below
						or
						%a{ href: '/contacts/new' }
							drop us a line 
						and let us know!

				.anchor#top

				.row
					.col-sm-4.col-xs-8
						%h5
							Search the Guide:
						= form_tag terms_path, method: :get do 
							= text_field_tag :q, params[:q], class: 'form-control'

							= submit_tag 'Search', class: 'btn btn-info', style: 'margin-top:0.5em;'
							%a.btn.btn-sm.btn-danger{ href: terms_path, style: 'margin-left:2em;margin-top:0.5em;' }
								Clear
				.row
					.col-xs-12
						- if params[:q].blank?
							%h5{ style: 'margin-top:1.5em;' }
								Browse the Guide:
							- @letters.each do |letter|
								%a{ href: "##{letter}", style: 'margin-left: 0.66em;' }
									= letter.capitalize
						- else
							%h5{ style: 'margin-top:1.5em;' }
								= pluralize @terms.count, 'Match'
								for
								= "'#{params[:q]}'"



				%ul.crossfit-terms{ style: 'margin-top:2em;' }
					.anchor#a
					- @terms.each_with_index do |term, idx|

						- if ( idx > 0 ) && ( idx % 30  == 0 )
							= render 'application/adsense_sidebar'

						- if not( term.title.sub(/^the /i, '' ).sub(/^a /i, '' )[0] == @letters[@anchor_idx] )

							- @anchor_idx += 1
							.anchor{ id: @letters[@anchor_idx] }
							.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
								%a.pull-right{ href: '#top'}
									Top
									%i.fa.fa-arrow-up
								.clearfix
							
						.anchor{ id: term.slug }
						%li
							%strong 
								
								= "#{term.title}:"
							- if term.aliases.present?
								( aka:
								%strong
									= term.aliases_csv
								)
							= raw term.content
		.jumbotron
			%p
				Hi there! Please consider joining our email list. We'll send you once-in-a-while updates chock-full of great health and lifestyle tips sprinkled with inspiration and discounts on cool stuff!

			= render 'swell_media/optins/form'
			.clearfix

		%hr/
		.anchor#comments
		.fb-comments{ data: { href: "http://amraplife.com/crossfit-terms", numposts: 5 } }

