%section.clearfix.aboutUsInfo.mainContent
	.container
		.row
			.col-xs-12
				.page-header
					%h1.content-title
						The Ultimate Guide to CrossFit Terms



		%article.entry.style-single.type-post
			.content

				.addthis_inline_share_toolbox.hidden-xs.hidden-sm

				%p{ style: 'margin-top:2em;' }
					CrossFit is an entire subculture onto itself. Walking into a CrossFit gym can be intimidating enough without having to know a TABATA from an EMOM. CrossFit is filled with all kinds of crazy jargon that can be confusing and disorienting to newcomers. More importantly, if you don't have a grasp on some of the cues your coach is providing, you can get yourself injured. Luckily, we've got you covered. Here is the most comprehensive guide to CrossFit-speak ever compiled. We've got over 300 terms (and growing!) defined for you. If you feel we've missed something, or there's a term you still don't understand, please 
					%a{ href: '#comments' }
						leave a comment below
					or
					%a{ href: '/contacts/new' }
						drop us a line 
					and let us know!

				.anchor#top
				- @letters.each do |letter|
					%a{ href: "##{letter}", style: 'margin-left: 0.66em;' }
						= letter.capitalize
				

				-# form_tag terms_path, method: :get, class: 'form-horizontal' do 
					.row
						.col-sm-5.col-sm-offset-2
							.form-group
								= text_field_tag :q, params[:q], style: 'form-control'
						.col-sm-2
							.form-group
								= submit_tag 'Search', class: 'btn'


				%ul.crossfit-terms{ style: 'margin-top:2em;' }
					.anchor#a
					- @terms.each_with_index do |term, idx|

						- if ( idx > 0 ) && ( idx % 30  == 0 )
							= render 'application/adsense_sidebar'

						- if not( term.title.sub(/^the /i, '' ).sub(/^a /i, '' )[0] == @letters[@anchor_idx] )

							- @anchor_idx += 1
							.anchor{ id: @letters[@anchor_idx] }
							.top-link{ style: 'padding:0.5em auto;border-bottom: 1px #ddd solid;'}
								%a.pull-right{ href: '#top'}
									Top
									%i.fa.fa-arrow-up
								.clearfix
							
						.anchor{ id: term.slug }
						%li
							%strong 
								
								= "#{term.title}:"
							- if term.aliases.present?
								( aka:
								%strong
									= term.aliases_csv
								)
							= raw term.content

