
.panel.panel-default
	.panel-heading
		Categories
	.panel-body
		%ul.list-unstyle.sidebar-list
			- SwellMedia::ArticleCategory.published.each do |cat|
				%li
					%a{ href: swell_media.articles_path( cat: cat.slug ) }
						%i.fa.fa-caret-right{ 'aria-hidden' => "true" }
						= cat.to_s
						%span
							= "(#{SwellMedia::Article.published.where( category_id: cat.id ).count})"

.panel.panel-default.recentBlogPosts
	.panel-heading
		Featured Posts
	.panel-body
		- SwellMedia::Article.published.order( "random()" ).limit( 5 ).each do |article|
			.media
				%a.media-left{ href: article.url }
					%img.img.img-responsive.media-object{ src: article.avatar }
				.media-body
					%h4.media-heading
						%a{ href: article.url }
							= article.title

.panel.panel-default
	.panel-heading
		Just a Thought
	.panel-body
		- Inspiration.published.order( 'random()' ).limit( 1 ).each do |inspiration|
			%a{ :href => inspiration.path }
				%img.img.img-responsive{ src: inspiration.avatar }

.panel.panel-default
	.panel-heading
		Related Products
	.panel-body
		%script{ src: "//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=9b863990-4462-4a7a-867d-9c30c6fb51cd" }

.panel.panel-default
	.panel-heading
		Sponsors
	.panel-body
		= render 'application/adsense_sidebar'



-# if SwellMedia::Media.published.media_tag_cloud.present?
	%aside.widget
		%h3.widget-title.ribbon
			%span Tags
		.tagcloud
			- SwellMedia::Media.published.media_tag_cloud( limit: 16 ).each do |tag,count|
				%a{:href => swell_media.browse_index_path( tag: tag ) }
					= tag
