
.main-box.clearfix
	.main-box-header.clearfix
		.row
			.col-xs-10
				%h1
					%a{ href: settings_lifemeter_index_path }
						Settings 
					>
					%a{ href: custom_units_path }
						Units
					>
					Edit
					= @unit.name
			.col-xs-2
						
	.main-box-body.clearfix

		= form_for @unit, url: custom_unit_path( @unit ) do |f|
			.row
				.col-sm-8
					.row			
						.col-sm-6
							= f.label :name
							= f.text_field :name, class: 'form-control'
						.col-sm-2
							= f.label :abbrev, 'Abbreviation'
							= f.text_field :abbrev, class: 'form-control'
						.col-sm-4
							= f.label :unit_ype, 'Type'
							= f.collection_select :unit_type, Unit.unit_types, :first, :first, {}, class: 'form-control'
					.row
						.col-sm-6
							.form-group
								= f.label :custom_conversion_factor, 'Equivalent to:'
								= f.text_field :custom_conversion_factor, class: 'form-control'
						.col-sm-6
							.form-group
								= f.label :custom_base_unit_name, 'Units:'
								= f.text_field :custom_base_unit_name, class: 'form-control'

						
				.col-sm-4
					.well
						.form-group
							= f.label :metric_id, 'Applies to Metric'
							= f.collection_select :metric_id, current_user.metrics, :id, :title, {}, class: 'form-control'

						


						.form-group
							= f.submit 'Update', class: 'btn btn-primary'

	
