%section.clearfix.stepsWrapper.mainContent
	.container
		.row
			.col-xs-12
				.innerWrpper.clearfix.stepsPage
					-#.row.progress-wizard{ style: "border-bottom:0;" }
						.col-xs-4.progress-wizard-step.complete
							.text-center.progress-wizard-stepnum
								Billing &amp; Shipping Address
							.progress
								.progress-bar
							%a.progress-wizard-dot{ href: '' }

						.col-xs-4.progress-wizard-step.disabled
							.text-center.progress-wizard-stepnum
								Payment Method
							.progress
								.progress-bar
							%a.progress-wizard-dot{ href: '' }

						.col-xs-4.progress-wizard-step.disabled
							.text-center.progress-wizard-stepnum
								Review & Confirm
							.progress
								.progress-bar
							%a.progress-wizard-dot{ href: '' }
					.row
						.col.xs-12
							.page-header
								.row
									.col-xs-8
										%h4
											Order Summary:
										= pluralize @cart.cart_items.sum( :quantity ), 'Item'
										%strong
											= number_to_currency( @cart.subtotal / 100.to_f )
											Total
									.col-xs-4
										%a{ href: '#', data: { toggle: :collapse, target: "#order_info" } }
											View Details
											%i.fa.fa-chevron-down

					.collapse#order_info
						%table.table
							%thead
								%tr
									%th.col-xs-2.col-sm-1 &nbsp;
									%th.col-xs-7 &nbsp;
									%th.col-xs-2.text-right{ style: 'width: 100px' } Quantity
									%th.col-xs-2.text-right Price

							%tbody
								- @cart.cart_items.each do |cart_item|
									%tr
										%td.col-xs-1
											%img.img.img-responsive{ src: cart_item.item.avatar }
										%td.col-xs-7
											- if cart_item.item.is_a?( SwellEcom::ProductVariant )
												%strong
													= cart_item.item.product.title
												%br
												= cart_item.item.option_title

											- else
												%strong
													= cart_item.item.title
										%td.col-xs-2.text-right
											= cart_item.quantity
										%td.col-xs-2.text-right
											= number_to_currency cart_item.item.price.to_f / 100
								%tr
									%td.col-xs-1

									%td.col-xs-7
										%a.btn.btn-info{ href: '/cart' }
											Change
									%td.col-xs-2.text-right
										Subtotal:
									%td.col-xs-2.text-right
										= number_to_currency( @cart.subtotal.to_f / 100 )


						.clearfix


					= form_for @order, as: :order, url: swell_ecom.checkout_index_path(), method: 'POST', html: { class: 'stripe_form validate_form checkout_form row disable_submit_after_submit' } do |f|
						.col.xs-12
							.page-header
								%h4
									Customer Info:
						.form-group.col-sm-6.col-xs-12
							%label Email (required)
							= f.email_field :email, class: 'form-control', required: true
							.help-block.with-errors
							%input{ type: :checkbox, name: 'newsletter', checked: :checked, style: '' }
							=# check_box_tag :newsletter, '', class: 'form-control', checked: true
							%small Sign-up for AMRAP Life news & discounts.
						.form-group.col-sm-6.col-xs-12
							= f.label :customer_notes, 'Notes:'
							= f.text_area :customer_notes, class: 'form-control', style: "height:6em;", data: { validate: "false" }

						= f.fields_for :billing_address do |billing_address_form|
							.col-xs-12
								.page-header
									%h4
										Billing Info


							.form-group.col-sm-6.col-xs-12
								%label First Name
								= billing_address_form.text_field :first_name, class: 'form-control', required: true
								.help-block.with-errors
							.form-group.col-sm-6.col-xs-12
								%label Last Name
								= billing_address_form.text_field :last_name, class: 'form-control', required: true
								.help-block.with-errors
							-#.form-group.col-sm-6.col-xs-12
								%label Phone
								= billing_address_form.telephone_field :phone, value: (@order.billing_address.phone || '+1'), class: 'form-control telephone_formatted', required: true
								.help-block.with-errors
							.form-group.col-sm-6.col-xs-12
								%label Address1
								= billing_address_form.text_field :street, class: 'form-control', required: true
								.help-block.with-errors
							.form-group.col-sm-6.col-xs-12
								%label Address2
								= billing_address_form.text_field :street2, class: 'form-control'
								.help-block.with-errors
							.form-group.col-sm-6.col-xs-12
								%label City
								= billing_address_form.text_field :city, class: 'form-control', required: true
								.help-block.with-errors
							.form-group.col-sm-3.col-xs-6
								.hidden
									- if @billing_countries.count == 1
										= billing_address_form.hidden_field :geo_country_id, value: @billing_countries.first.id
										.form-control= @billing_countries.first.name
									- else
										= billing_address_form.collection_select :geo_country_id, @billing_countries, :id, :name, { prompt: @billing_countries.count > 1 }, { class: "form-control", data: { 'geostateupdate-target' => '#order_billing_address_state', 'geostateupdate-data' => { address_attribute: :billing_address }.to_json }, required: true }

								%label State
								= render 'state_input', f: billing_address_form, states: @billing_states, id: 'order_billing_address_state'
								.help-block.with-errors
							.form-group.col-sm-3.col-xs-6
								%label Zip
								= billing_address_form.text_field :zip, class: 'form-control', "data-stripe" => "address_zip", required: true
								.help-block.with-errors


							.col-xs-12
								.page-header
									%h4
										Payment Info
								.payment-errors.alert.alert-danger.hide

							.form-group.col-sm-3.col-xs-6
								%label
									%span Card Number
								%input.form-control{"data-stripe" => "number", :size => "20", :type => "text", :autocomplete => "cc-number", :required => true, 'data-minlength' => '19' }/
								.help-block.with-errors

							.form-group.col-sm-3.col-xs-6
								%label
									%span Expiration (MM/YY)
								%div
									%input.form-control{"data-stripe" => "exp", :size => "9", :type => "text", style: 'width: auto;display:inline-block;', :autocomplete => "cc-exp", required: true, 'data-minlength' => '7' }/
								.help-block.with-errors

							.form-group.col-sm-3.col-xs-6
								%label
									%span CVC
								%input.form-control{"data-stripe" => "cvc", :size => "4", :type => "text", style: 'width: auto;', :autocomplete => "off", required: true, 'data-minlength' => '3' }/
								.help-block.with-errors

						= f.fields_for :shipping_address do |shipping_address_form|
							.col-xs-12
								.page-header
									%h4
										Shipping Info

										%input{ type: :checkbox, name: 'same_as_billing', 'data-toggle'=>"collapse", 'data-target'=>"#shipping_info", checked: :checked, class: '', style: 'margin-left:1em;' }

										%span{ style: 'font-size:50%;' }
											same as billing address
							.clearfix

							.collapse.collapse-ignore#shipping_info
								.form-group.col-sm-6.col-xs-12
									%label First Name
									= shipping_address_form.text_field :first_name, class: 'form-control', required: true
									.help-block.with-errors
								.form-group.col-sm-6.col-xs-12
									%label Last Name
									= shipping_address_form.text_field :last_name, class: 'form-control', required: true
									.help-block.with-errors
								-#.form-group.col-sm-6.col-xs-12
									%label Phone
									= shipping_address_form.telephone_field :phone, value: (@order.shipping_address.phone || '+1'), class: 'form-control telephone_formatted', required: true
									.help-block.with-errors
								.form-group.col-sm-6.col-xs-12
									%label Address1
									= shipping_address_form.text_field :street, class: 'form-control', required: true
									.help-block.with-errors
								.form-group.col-sm-6.col-xs-12
									%label Address2
									= shipping_address_form.text_field :street2, class: 'form-control'
									.help-block.with-errors
								.form-group.col-sm-6.col-xs-12
									%label City
									= shipping_address_form.text_field :city, class: 'form-control', required: true
									.help-block.with-errors
								.form-group.col-sm-3.col-xs-6
									.hidden
										- if @shipping_countries.count == 1
											= shipping_address_form.hidden_field :geo_country_id, value: @shipping_countries.first.id
											.form-control= @shipping_countries.first.name
										- else
											= shipping_address_form.collection_select :geo_country_id, @shipping_countries, :id, :name, { prompt: @shipping_countries.count > 1 }, { class: "form-control", data: { 'geostateupdate-target' => '#order_shipping_address_state', 'geostateupdate-data' => { address_attribute: :shipping_address }.to_json }, required: true }


									%label State
									= render 'state_input', f: shipping_address_form, states: @shipping_states, id: 'order_shipping_address_state'
									.help-block.with-errors
								.form-group.col-sm-3.col-xs-6
									%label Zip
									= shipping_address_form.text_field :zip, class: 'form-control', "data-stripe" => "address_zip", required: true
									.help-block.with-errors


						.col-xs-12
							.well.well-lg.clearfix
								= f.submit 'Place Order', class: 'btn btn-lg btn-primary pull-right'




%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}

:javascript
	Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');
