.row
	.col-sm-12
		%h3 Quick Add
		= form_for UserInput.new, html: { style: 'margin: auto 1em;' } do |f|
			= f.text_field :content, class: 'form-control', placeholder: 'Metric=Value(units) Notes'
			.pull-right= f.submit 'Add', class: 'btn btn-success btn-lg', style: 'margin: 0.5em auto;'
			.clearfix
.row
	.col-sm-12
		.main-box.clearfix.project-box.purple-box
			.main-box-body.clearfix
				.project-box-header.purple-bg
					.name
						%a{ href: '#' }
							Recent Activity
				.project-box-content
					- if @inputs.present?
						= raw paginate @inputs
						.main-box.feed
							.main-box-body.clearfix
								%ul
									- @inputs.each do |input|
										%li.clearfix{ style: 'list-style: none;' }
											.img
												= image_tag input.user.avatar
											.title
												You Said:
												= input.content
											.post-time
												= input.created_at.to_s( :slashed_time )
											.time-ago
												%i.fa.fa-clock-o
												= time_ago_in_words input.created_at
												ago.

					- else
						%center
							%h1
								No Activity Yet
