
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', swell_media.admin_index_path
				%li
					%strong
						Places Admin

		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_place' } }
				%i.fa.fa-plus-square
				New

	.row
		.col-xs-6
			= pluralize @place_count, 'Place'
			= raw paginate @places
		.col-xs-6
			= form_tag place_admin_index_path, method: :get, class: 'pull-right form-inline' do
				=# select_tag :status, options_from_collection_for_select( Movement.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', place_admin_index_path, class: 'btn btn-default btn-xs'

	.row
		%table.table.table-striped
			%thead
				%th
					Name

				%th
					Status


			%tbody
				- @places.each do |place|
					%tr
						%td
							= link_to place.title, edit_place_admin_path( place )
						%td
							- if place.published?
								.badge{ class: place.status }
									Live
							- elsif place.draft?
								.badge{ class: place.status }
									Draft
							- elsif place.active?
								.badge{ class: 'pending' }
									Pending
							- else
								.badge{ class: place.status }
									= place.status



= render 'new_modal'