#content.content.section.row
	.col-md-8.bg-base.col-lg-8.col-xl-9
		.ribbon.ribbon-highlight
			%ol.breadcrumb.ribbon-inner
				%li
					%a{ href: '/' }
						Home
				%li.active
					%a{ href: '/blog' }
						Contact Us

		%header.page-header
			%h2.page-title
				Get in Touch
			%p
				We'd love to hear from you!

		= form_for SwellMedia::ContactUs.new, url: swell_media.contacts_path do |f|
			.form-group
				= f.label :email
				= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
			.form-group
				= f.label :subject
				= f.text_field :subject, placeholder: 'Subject', class: 'form-control'
			.form-group
				= f.label :message
				= f.text_area :message, rows: 3, class: 'form-control'

			= f.submit 'Send', class: 'btn btn-lg btn-primary'

		%br
		%br
		%br
		

	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'application/sidebar'





