- cache( "contact-1" ) do
	%section.clearfix.aboutUsInfo.mainContent
		.container
			.row
				.col-xs-12
					.page-header
						%h1
							Get in Touch
						%h3
							We'd love to hear from you!
			.row
				.col-xs-12
					= form_for SwellMedia::ContactUs.new, url: swell_media.contacts_path do |f|
						.form-group
							= f.label :email
							= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
						.form-group
							= f.label :subject
							= f.text_field :subject, placeholder: 'Subject', class: 'form-control'
						.form-group
							= f.label :message
							= f.text_area :message, rows: 3, class: 'form-control'

						= f.submit 'Send', class: 'btn btn-lg btn-primary'

					%br
					%br
					%br






