%section.clearfix.blogPage.singleBlog.mainContent
	.container
		.row
			.col-sm-12
				.row
					.col-xs-12
						%h1.text-center
							Introducing Life Meter by AMRAP Life
				.row
					.col-xs-12.col-sm-6{ style: 'margin-bottom: 2em;' }
						%p.content
							Life Meter is the world's first (and best) natural language health and fitness tracking application. We all know that you can't really improve what you don't know. How much do you really eat? How much do you sleep? How effective is your exercise program? But tracking all this stuff can be a real pain. Opening different apps and fumbling though clumsy UI ends up being more trouble than it's worth.
						%p
							Just tell Life Meter the things you want to track. It's as easy as:
						%p
							"I ate 320 calories"
						%p
							"My pulse is 53"
						%p
							"I slept for 7 hours 32 minutes"
						%p
							You can tell Life Meter to start and stop timers for any activity you care about and Life Meter will keep track for you.
						%p
							"Start jogging"
						%p
							"Stop jogging"
						%p
							You can set a target for any activity or measure:
						%p
							"Set a target of 1800 for calories"
						%p
							"Set a target of 7:00 for the 1 mile run"
						%p
							"Set a target of 160 for weight"
						%p
							Life Meter is designed to be where you are. And it's natural language interface makes tracking the things you care about a breeze. Use Facebook? Just message the Life Meter chat bot. Got Slack? There's a Life Meter bot for that too. Best of all, Life Meter works with Amazon Echo and Google Home devices, so you don't even need a phone, app, or computer to use it. Just holler across the room:
						%p
							"Alexa, ask Life Meter to check my calories"
						%p
							"Ok Google, tell Life Meter I ate 6 grams of sugar"
					.col-xs-12.col-sm-6
						%h4
							Sign Up to Help Beta Test Life Meter
						%h5
							And win an Echo Dot *


						= render 'application/signin_widget', args: {}
						
						-#= form_for SwellMedia::ContactUs.new, url: swell_media.contacts_path do |f|
							= f.hidden_field :subject, value: 'lifemeter beta test'
							.form-group
								= f.label :email
								= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
							.form-group
								= f.label :message
								= f.text_area :message, rows: 3, class: 'form-control'

							= f.submit 'Send', class: 'btn btn-lg btn-primary'

							.pull-right
								Already Registered for the Beta?
								%br
								%center
									%a{ href: '.login-modal', data: { toggle: :modal } }
										Log In Here.


						.text.small{ style: 'margin-top:2em;' }
							* Yes, we really are giving away Echo Dots to some of our beta-testers. You must actively participate in the Beta period to be eligible. Beta-testing brand-new software can be fun, but it can also be a bit of a hassle at times. As an expression of our gratitude, two qualified testers chosen at random will get an Echo Dot, and two more will get $20 Amazon gift cards.


					-#.col-xs-12
						.text-center{ style: 'margin: 1em 0 1em 0;' }
							%a.btn.btn-default{ href: 'https://www.messenger.com/t/lifemeterapp' }
								%img{ src: image_path('facebook-messenger.svg'), style: 'height: 1em;display: inline-block;' }
								Chat on Messenger

							%a{:href => "https://slack.com/oauth/authorize?&client_id=106936814101.204549381329&scope=bot"}
								%img{:alt => "Add to Slack", :height => "40", :src => "https://platform.slack-edge.com/img/add_to_slack.png", :srcset => "https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x", :width => "139"}/
