
- cache( "show-#{@media.cache_key}" ) do
	%section.clearfix.blogPage.singleBlog.mainContent
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12
					.row
						.col-xs-12
							- if @media.show_title?
								%h1.text-center
									= @media.title
							
							- if @media.avatar.present?
								.thumbnail
									%img{ src: @media.avatar, alt: @media.title }
					.row
						.col-xs-12.content
							.addthis_inline_share_toolbox.hidden-xs.hidden-sm

							= raw @media.content
				
					- if @media.is_commentable?
						.row
							.col-xs-12
								= render 'application/fb_comments'

					.jumbotron
						%p
							Hi there! Please consider joining our email list. We'll send you once-in-a-while updates chock-full of great health and lifestyle tips sprinkled with inspiration and discounts on cool stuff!

						= render 'swell_media/optins/form'

				.sideBar.col-md-3.col-sm-4.col-xs-12
					= render 'swell_media/articles/sidebar'












#content.content.section.row
	- cache( "show-#{@media.cache_key}" ) do
		.col-md-8.bg-base.col-lg-8.col-xl-9
			.ribbon.ribbon-highlight
				%ol.breadcrumb.ribbon-inner
					%li
						%a{ href: swell_media.root_path() }
							Home
					- if @media.show_title?
						%li.active
							= @media.title
			
			- if @media.show_title?
				%header.page-header
					%h2.page-title
						= @media.title
			
			%article.entry.style-single.type-post
				.addthis_inline_share_toolbox.hidden-xs.hidden-sm
				
				- if @media.avatar.present?
					.row
						.col-xs-12
							%img.img.img-responsive{:alt => @media.title, src: @media.avatar }
						
				.entry-content
					= raw @media.content


				.well
					%p
						Hi there! Please consider joining our email list. We'll send you once-in-a-while updates chock-full of great health and lifestyle tips sprinkled with inspiration and discounts on cool stuff!

					= render 'swell_media/optins/form'
					.clearfix

				- if @media.is_commentable?
					%hr/
					= render 'application/fb_comments'
					
		
	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'swell_media/articles/sidebar'
	/ /.sidebar col-md-4 col-lg-4 col-xl-3
/ /#content






