
%meta{charset: "utf-8"}/
%meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}

%title
	= @page_meta[:title]
%meta{ name: "description", content: @page_meta[:description] }

= render 'application/structured_data'

- if @page_meta[:og].present?
	- @page_meta[:og].each do |property, content|
		- if property.is_a? String
			%meta{ property: property, content: content }
		- else
			%meta{ property: "og:#{property}", content: content }

- if @page_meta[:twitter].present?
	- @page_meta[:twitter].each do |property, content|
		%meta{ property: "twitter:#{property}", content: content }

%meta{ name: "google-site-verification", content: "Zwxt8JnFbmUfU3K4DtTN6GbilH2e0NiJ2OXZJ-su10g" }
%meta{ name: "p:domain_verify", content: "c1bdd80449b6d6810fd314c0d71e2f41" }

= render 'application/pinterest_tag'

= favicon_link_tag 'favicon.ico'
= stylesheet_link_tag :application

= csrf_meta_tags
