#header.header-navbar{ role: :navigation }
	.header-navbar-inner.container
		#brand.navbar-brand
			%a{ href: '/' }
				= image_tag 'amrap_logo_wht.png', width: 244, height: 56, style: 'border-left: 5px solid #9c27b0;border-right: 5px solid #9c27b0;'
		%ul.nav.nav-pages.hidden-xs
			%li{ style: 'font-size:110%;' }
				%a{ href: 'http://facebook.com/amraplife', target: '_new' }
					%i.fa.fa-facebook-square
			%li{ style: 'font-size:110%;' }
				%a{ href: 'http://twitter.com/amraplife', target: '_new' }
					%i.fa.fa-twitter-square
			%li{ style: 'font-size:110%;' }
				%a{ href: 'http://pinterest.com/amraplife', target: '_new' }
					%i.fa.fa-pinterest-square
			%li{ style: 'font-size:110%;' }
				%a{ href: 'https://www.instagram.com/amrap_life/', target: '_new' }
					%i.fa.fa-instagram

			%li
				%a{ href: '/about' }
					About
			%li
				%a{ href: '/contacts/new' }
					Contact
		%ul.nav.nav-icons
			%li
				%a.btn-icon{"data-toggle" => ".header-navbar-inner", "data-toggle-class" => "search-toggled-in", :href => "#"}
					%span.search-toggled-out-icon.fa.fa-search
					%span.search-toggled-in-icon.fa.fa-times
		.search-wrapper.js-stoppropagation
			.search-wrapper-inner
				= form_tag main_app.products_path(), method: :get do
					%input{:placeholder => "search ... ", name: :query, :type => "text", :value => ""}/
					%button.btn-icon{:type => "submit"}
						%span.fa.fa-search
		%ul.nav.navbar-nav
			%li.nav-all.pull-right.full-subnav-wrapper.hidden-md.hidden-lg
				%a{"data-toggle" => "li", :href => "#"}
					%span.text
					%i.toggle.fa.fa-bars
				.row.subnav-wrapper
					.col-sm-6
						%strong.subnav-header Site
						%ul.subnav-full
							%li
								%a{ href: swell_media.articles_path }
									Articles
							- if Recipe.published.count >= 5
								%li
									%a{ href: '/recipes' }
										Recipes
							-#%li
								%a{ href: '#' }
									Places
							- if Workout.published.count >= 5
								%a{ href: '/workouts' }
									Workouts
							-#%li
								%a{ href: '#' }
									Trainers
					.col-sm-6
						%strong.subnav-header Store
						%ul.subnav-full
							%li
								%a{ href: '/store' }
									Everything

							- ProductCategory.all.each do |cat|
								%li
									= link_to cat, main_app.products_path( category: cat )

							%li
								= link_to 'Men', main_app.products_path( tag: 'men' )
							%li
								= link_to 'Women', main_app.products_path( tag: 'women' )

			%li
				%a{ href: swell_media.articles_path }
					Articles
			- if Recipe.published.count >= 5
				%li
					%a{ href: '/recipes' }
						Recipes
			-#%li
				%a{ href: '#' }
					Places
			- if Workout.published.count >= 5
				%a{ href: '/workouts' }
					Workouts
			-#%li
				%a{ href: '#' }
					Trainers
			%li
				%a{ href: '#', data: { toggle: :li } }
					Store
				.subnav-wrapper
					%ul.subnav
						%li
							%a{ href: '/store' }
								Everything

						- ProductCategory.all.each do |cat|
							%li
								= link_to cat, main_app.products_path( category: cat )

						%li
							= link_to 'Men', main_app.products_path( tag: 'men' )
						%li
							= link_to 'Women', main_app.products_path( tag: 'women' )
