- unless current_user.present?
	.registration-bar.dismissible-parent.registration-bar-with-addthis
		%a.registration-bar-dismiss{ href: '#', data: { dismiss: 'dismissible-parent' } }
			%i.fa.fa-times
		.text-center
			%h3{ style: 'margin-bottom: 0.5em;' }
				.registration-bar-title.hidden-xs{ style: 'font-size: 1.5em;line-height: 1.3em;font-weight:lighter;' }
					There's more to see and do...
				-# .registration-bar-title.hidden-xs.hidden-sm.hidden-md.hidden-lg{ style: 'font-size: 1.1em;line-height: 1.4em;font-weight:lighter;' }
					There's more to see
					%span{ style: 'white-space: nowrap;' } and do...

			.container.hidden-xs
				.row
					.col-xs-12.col-lg-6.col-lg-offset-3.text-center{ style: 'font-size: 1em;margin-bottom: 1em;line-height: 1.3em' }

						- if controller_name == 'recipes'
							-# If you've enjoyed this recipe, please consider passing it along using the share buttons. And consider joining our email list. We'll send you once-in-a-while updates chock-full of great health and lifestyle tips sprinkled with inspiration and discounts on cool stuff!
							Subscribe to our newsletter and we'll send you once-in-a-while updates chock-full of great
							%strong recipes
							and
							%strong health tips
							sprinkled with
							%strong inspiration
							and
							%strong discounts
							on cool stuff!
						- else
							-# If you've enjoyed this, please consider passing it along using the share buttons. And consider joining our email list. We'll send you once-in-a-while updates chock-full of great health and lifestyle tips sprinkled with inspiration and discounts on cool stuff!
							Subscribe to our newsletter and we'll send you once-in-a-while updates chock-full of great health and lifestyle tips sprinkled with inspiration and discounts on cool stuff!
			.container.hidden-sm.hidden-md.hidden-lg
				.row
					.col-xs-12.col-lg-6.col-lg-offset-3.text-center{ style: 'font-size: 1em;margin-bottom: 1em;margin-top: 0em;line-height: 1.3em' }
						%strong There's more to see and do...
						Subscribe for once-in-a-while updates chock-full of cool stuff!
			.text-center
				= form_for SwellMedia::Optin.new, url: swell_media.optins_path, html: { role: :form, class: 'form-inline hidden-xs' }  do |f|
					.form-group{ style: 'min-width: 33vw;' }
						= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
					= f.submit 'Join', class: 'btn btn-info'
				= form_for SwellMedia::Optin.new, url: swell_media.optins_path, html: { role: :form, class: 'hidden-sm hidden-md hidden-lg' }  do |f|
					.input-group
						= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
						%span.input-group-btn
							= f.submit 'Join', class: 'btn btn-info'
			-# %div
				%a.btn.btn-your-answer{ href: '#', data: { dismiss: 'dismissible-parent' }, style: 'width: 40vw;max-width: 150px;border-radius: 5px;color: #fff;' } CONTINUE
				&nbsp;
				%a.btn.btn-color.btn-info.btn-your-answer{ href: '#', data: { toggle: :modal, target: '#registration_modal' }, style: 'width: 40vw;max-width: 150px;border-radius: 5px;' } JOIN US
