#content.content.section.row
	- cache( "show-#{@product.cache_key}" ) do
		.col-md-10.bg-base.col-lg-10.col-xl-11
			.ribbon.ribbon-highlight
				%ol.breadcrumb.ribbon-inner
					%li
						%a{ href: swell_media.root_path() }
							Home
					%li
						%a{ href: '/store' }
							Store
					%li.active
						= @product.title



			.col-md-2.col-lg-2.col-xl-1
				%h4{ style: 'border-bottom: 1px #ddd solid;margin-bottom: 0.25em;'}
					Shop

				.cat= link_to 'Everything', products_path

				- ProductCategory.order( name: :asc ).each do |cat|
					.cat= link_to cat.name, products_path( category: cat.slug )
			.col-md-10.col-lg-10.col-xl-11{ style: 'border-left:1px #ddd solid; '}
				%article.entry.style-single.type-post
					.row
						.col-sm-4
							.img-group
								%a{ href: @product.avatar }
									%img.img.img-responsive{ :alt => @product.title, src: @product.avatar }
									%center
										%i.fa.fa-search
										Enlarge

							%p.buy-btn{ style: 'text-align: center;' }
								= raw @product.shopify_code


						.col-sm-8
							%header.page-header
								%h2.page-title
									= @product.title

								.row.entry-meta{ style: 'margin-bottom: 0;' }
									.col-xs-8
										.price-info{ style: 'font-size:150%;' }
											%span.price{ style: 'font-weight:600;color:#000;'}
												= number_to_currency( @product.price.to_f / 100 )
											- if @product.suggested_price > 0
												%span.strikethrough{ style: 'text-decoration:line-through;font-size:90%;' }
													= number_to_currency( @product.suggested_price.to_f / 100 )
									.col-xs-4
										- if @product.product_category.present?
											%span.category{ style: 'margin-right: 2em;'}
												In
												%a{:href => products_path( category: @product.product_category.slug ) }
													= @product.product_category.name
							.entry-content
								.addthis_inline_share_toolbox.hidden-xs.hidden-sm
								
								= raw @product.content


		.sidebar.col-md-2.col-lg-2.col-xl-1
			= render 'products/sidebar'
