- cache( "show-#{@product.cache_key}" ) do
	%section.clearfix{ style: 'padding-top: 50px;' }
		.container
			.row.singleProduct
				.col-xs-12
					.media
						.media-left.productSlider
							#carousel.carousel.slide{ data: { ride: "carousel" }	}
								.carousel-inner
									.item.active{ data: { thumb: 0 } }
										%img{ src: @product.avatar }
									- @images.each_with_index do |image, idx|
										.item{ data: { thumb: idx } }
											%img{ src: image.url }
							.clearfix
								#thumbcarousel.carousel.slide{ data: { interval: "false" } }
									.carousel-inner
										.thumb{ data: { target: "#carousel", 'slide-to' => "0" } }
											%img{ src: @product.avatar }
										- @images.each_with_index do |image, idx|
											.thumb{ data: { target: "#carousel", 'slide-to' => idx } }
												%img{ src: image.url }
									%a.left.carousel-control{ href: "#thumbcarousel", role: "button", data: { slide: "prev" } }
										%span.glyphicon.glyphicon-chevron-left
									%a.right.carousel-control{ href: "#thumbcarousel", role: "button", data: { slide: "next" } }
										%span.glyphicon.glyphicon-chevron-right
						.media-body
							- if @product.product_category.present?
								%ul.list-inline
									%li
										in
										%a{:href => products_path( category: @product.product_category.slug ) }
											= @product.product_category.name

							%h2
								= @product.title
							%h3
								- if @product.price % 100 == 0
									= number_to_currency( @product.price / 100.to_f, precision: 0 )
								- else
									= number_to_currency( @product.price / 100.to_f )
							%p
								= raw @product.description

							
							%span.quick-drop
								%select.select-drop#guiest_id3{ name: "guiest_id3" } 
									%option{ value: "1" }
										Small
									%option{ value: "2" }
										Medium
									%option{ value: "3" }
										Large

							%span.quick-drop.resizeWidth
								%select.select-drop#guiest_id4{ name: "guiest_id4" }	
									%option{ value: "1" }
										1
									%option{ value: "2" }
										2
									%option{ value: "3" }
										3
							.btn-area
								%a.btn.btn-primary.btn-block
									Add to Cart
									%i.fa.fa-angle-right{ 'aria-hidden' => true}
							.tabArea
								%ul.nav.nav-tabs
									%li.active
										%a{ href: "#details", data: { toggle: "tab" } }
											details
									%li
										%a{ href: "#about", data: { toggle: "tab" } }
											about design
									%li
										%a{ href: "#sizing", data: { toggle: "tab" } }
											sizing & care
								.tab-content
									#details.tab-pane.fade.in.active
										= raw @product.content
									#about.tab-pane.fade
										%p
											Burpees are great - TODO
									#sizing.tab-pane.fade
										- if @product.size_info.present?
											= render "products/size_info/#{@product.size_info}"

			- if @related_products.present?
				.row.productsContent
					.col-xs-12
						.page-header
							%h4
								Related Products
						- @related_products.each do |product|
							= render 'card', product: product, args: { size: 'col-md-3 col-sm-6 col-xs-12' }

