- cache( "row-#{place.cache_key}" ) do
	.entry.style-media.media.type-post
		%figure.media-object.pull-left.entry-thumbnail.hidden-xs
			%a{ href: place.url }
				%img{ src: place.cover_image, width: 230, height: 230 }
		.media-body
			%header.entry-header
				%h3.entry-title
					= link_to place.title, place.url
				.entry-meta
					#{place.address1}#{ place.address2.present? ? " #{place.address2}" : ''},
					#{place.city}, #{place.state}
			%p
				= raw place.description
				%a.more-link{ href: place.url }
					Continue
					%i.fa.fa-arrow-right
