
- cache( "show-#{@place.cache_key}" ) do
	%section.clearfix.blogPage.singleBlog{ style: 'padding-top: 50px;' }
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12
					.row
						.col-xs-12
							%h1.text-center
								= @place.title
							.thumbnail
								%img{ src: @place.avatar, alt: @place.title }

								.addthis_inline_share_toolbox.hidden-xs.hidden-sm
								
								%caption
									.row
										.col-xs-12.content
											= raw @place.content
					.row
						.col-xs-12
							Contact
							%i
								= @place.title
							to learn more about their services, special offers and get fitness advice.
							.row
								.col-xs-12.col-md-6
									= form_for SwellMedia::ContactUs.new, url: swell_media.contacts_path do |f|
										.form-group
											= f.label :email, 'Message'
											= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
										= f.hidden_field :subject, value: "@#{@place.title}"
										.form-group
											= f.text_area :message, rows: 3, class: 'form-control', placeholder: 'Message'
										.form-group
											= f.submit 'Send', class: 'btn btn-primary'

				.sideBar.col-md-3.col-sm-4.col-xs-12
					= render 'places/sidebar'











-##content.content.section.row
	- cache( "show-#{@place.cache_key}" ) do
		.col-md-8.bg-base.col-lg-8.col-xl-9
			.ribbon.ribbon-highlight
				%ol.breadcrumb.ribbon-inner
					%li
						%a{:href => swell_media.root_path()} Home

					%li.active{:title => @place.title}=@place.title.truncate(32)
			.flipboard-startArticle
			%header.page-header
				- if @place.cover_image.present?
					.row{ style: "background: url(#{@place.cover_image}) no-repeat center;background-size: cover;padding-top: 20%;margin-top: -20px;margin-bottom: 15px;" }
						.col-xs-12
							.row{ style: 'background: rgba(0,0,0,0.4);' }
								.col-xs-12
									- if @place.phone
										%a.color-white.pull-right{ href: "tel:#{@place.phone.gsub(/^\(/,'+1-').gsub(')','-').gsub(/[^0-9\+\-]/,'')}" }
											%i.fa.fa-phone
											#{@place.phone}

									%h2.page-title.flipboard-title{ style: 'color: #fff;' }
										= @place.title
										%small{ style: 'color: #fff;display: block;' }
											#{@place.address1}#{ @place.address2.present? ? " #{@place.address2}" : ''},
											#{@place.city}, #{@place.state}

				- else
					%h2.page-title.flipboard-title
						= @place.title
						%small
							#{@place.address1}#{ @place.address2.present? ? " #{@place.address2}" : ''},
							#{@place.city}, #{@place.state}
				.row
					- if @featured_video.present?
						.col-xs-12.col-sm-7{ style: 'padding-bottom: 5px;' }
							%iframe#place-video{ allowfullscreen: true, frameborder: 0, src: "//www.youtube.com/embed/#{@featured_video.origin_identifier}?rel=0" }
						.col-xs-12.col-sm-5{ style: 'padding-bottom: 5px;' }
							#place-map
					- else
						.col-xs-6.col-sm-offset-3
							#place-map
			%article.entry.style-single.type-post

				.entry-content
					= raw @place.content
			.flipboard-endArticle
			.after-entry
				.addthis_inline_share_toolbox.hidden-xs.hidden-sm
			.after-entry
				.row
					.col-xs-6.text-left
						- if @previous_place
							.row
								.col-xs-4
									- if @previous_place.avatar.present?
										%img.img.img-responsive.center-block{ src: @previous_place.avatar }
								.col-xs-8
									%div{ style: 'font-size: 0.9em;color: #ccc;' } PREVIOUS PLACE
									%a{ href: @previous_place.url, style: 'font-size: 1.2em;font-weight: bold;display: block;' }
										%i.fa.fa-arrow-left
										= @previous_place.title
					.col-xs-6.text-right
						- if @next_place
							.row
								.col-xs-8
									%div{ style: 'font-size: 0.9em;color: #ccc;' } NEXT PLACE
									%a{ href: @next_place.url, style: 'font-size: 1.2em;font-weight: bold;display: block;' }
										= @next_place.title
										%i.fa.fa-arrow-right
								.col-xs-4
									- if @next_place.avatar.present?
										%img.img.img-responsive.center-block{ src: @next_place.avatar }


				%hr
			.after-entry
				Contact
				%i #{@place.title}
				to learn more about their services, special offers and get fitness advice.
				.row
					.col-xs-12.col-md-6
						= form_for SwellMedia::ContactUs.new, url: swell_media.contacts_path do |f|
							.form-group
								= f.label :email, 'Message'
								= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
							= f.hidden_field :subject, value: "@#{@place.title}"
							.form-group
								= f.text_area :message, rows: 3, class: 'form-control', placeholder: 'Message'
							.form-group
								= f.submit 'Send', class: 'btn btn-primary'

				-# = render 'application/fb_comments'

	/ /.col-md-8.col-lg-8.col-xl-9
	.sidebar.col-md-4.col-lg-4.col-xl-3
		= render 'swell_media/articles/sidebar'
	/ /.sidebar col-md-4 col-lg-4 col-xl-3
/ /#content

:javascript
	function initMap() {
		var uluru = {lat: #{@place.lat}, lng: #{@place.lon}};
		var map = new google.maps.Map(document.getElementById('place-map'), {
			zoom: 13,
			center: uluru
		});
		var marker = new google.maps.Marker({
			position: uluru,
			map: map
		});
	}
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAjrWJrpSapVwH21j2qlwbUErWKNDjbVEA&callback=initMap"}
